[user]
	email = pouriaba@gmail.com
	name = Pouria B. Almassi
[push]
	default = current
[core]
	quotepath = false
	excludesfile = /Users/pouriaalmassi/.gitignore_global
[color]
	ui = true
[format]
	pretty = oneline
[difftool "sourcetree"]
	cmd = /usr/local/bin/ksdiff -w \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /usr/local/bin/ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[difftool "Kaleidoscope"]
[diff]
[difftool]
[mergetool "Kaleidoscope"]
	trustexitcode = true
[mergetool]
	prompt = false
[merge]
	tool = Kaleidoscope
[credential]
	helper = osxkeychain
[alias]
	undo = reset --soft HEAD^
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[diff]
	tool = Kaleidoscope
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
